body {
    font-family: Arial, Helvetica, sans-serif;
    background: #4d5266;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-conteiner{
    width: 400px;
    height: 500px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

.input-container {
    display: flex;
    border-top: 1px solid #ddd;
}

input {
    flex: 1;
    border: none;
    padding: 10px;
}

button {
    background: #644141;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}